**/.terraform/*

*.tfstate
*.tfstate.*
.tfstate-backup

*.tfvars

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

.idea
.archives
.coverage
.build

node_modules
crash.log
